.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

#tistorytoolbarid {
  display: none;
}

.daum_like_wrapper {
  display: none
}

 .blog-footer {
  padding: 2.5rem 0;
  color: #999;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}